body{
    min-height: 100vh;
    max-width: 1000px;
    margin: auto;
    font-family: 'Domine', serif;
}

header{
    border: 1px solid blue;
    box-sizing: border-box;
    background-image: url("images/notion.png");
    color:azure
}

nav{
    border: 1px solid red;
    box-sizing: border-box;
}

article{
    border: 1px solid green;
    box-sizing: border-box;
}

.about{
    border: 1px solid orange;
    box-sizing: border-box;
    display: flex;
}

.portfolio{
    border: 1px solid orange;
    box-sizing: border-box;
    display: flex;
}

.main{
    border: 1px solid orange;
    box-sizing: border-box;
    display: flex;
}


footer{
    border: 1px solid pink;
    box-sizing: border-box;
}



