
body{
    padding-top: 6rem;
    margin: auto;
    font-family: 'Domine', serif;
}


.header{
    border: 1px solid red;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
.fixed-header{
    width: 100%;
    position: fixed;        
    background: #6fa2ff;
    padding: 20px 0;
    color: #fff;
    top: 0;
}

h1{
    border: 1px solid red;
    box-sizing: border-box;
    align-self: center;
    width: 60%

}

#welcome{
    padding: 3em;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly space-around;
    padding: 1em
}

#main p{
    order: -1;
}

main p{
    border: 1px solid red;
    box-sizing: border-box;
    padding: 3em
}

#about{
justify-content: space-evenly space-around space-between;
}

.page{
    display: flex;
    flex-direction: column;
    border-bottom: 10px dotted black;
}

h2{
    align-self: center;
}

#about img, #portfolio img{
    width: 100px;
    object-fit: scale-down;
    align-self: center
}

.btnicons img{
    height: 10vh;
    object-fit: scale-down;
}
.sta, .ga, .p1, .p2, .p3, #contact{
    display: flex;
    flex-direction: column;
}

#contact p, #portfolio p{
    align-self: center;
}

#contact{
    border: 1px solid blue;
    box-sizing: border-box;
    /* align-content: space-around */
}

.btnicons, #mail, #resume{
    border: 1px solid green;
    box-sizing: border-box;
    align-self: center;
    padding: 10px 20px;    
}

#mail{
    display: inline-block
}

footer{
    display: flex;
    align-items: flex-end:
}

#langs{
    align-self: flex-start;
}


@media screen and (min-width: 600px) {
    #main{
        flex-direction: row;
    }
    #main p{
        order: 0
    }
    h2{
        align-self: flex-start;
    }
    #portfolio h2{
        align-self: flex-end;
    }
    .sta, .ga, .p1, .p2, .p3{
        flex-direction: row;
    }
    .p2 img{
        order: 2
    }
}

