
body{
    padding-top: 6rem;
    margin: auto;
    font-family: 'Domine', serif;
}


.header{
    display: flex;
    flex-direction: column;
}

.fixed-header{
    flex-direction: row;
    border: 1px solid red;
    box-sizing: border-box;
}




@media screen and (min-width: 600px) {

    .header{
        justify-content: flex-start;
    }

    .fixed-header{
        align-self: flex-end;
        width: 100%;
        position: fixed;        
        background: #6fa2ff;
        padding: 0.5em 0;
        color: #fff;
        top: 0;
    }

    #top-nav{
        align-self: flex-start
    }

    #ks{

    }
    h1{
        border: 1px solid red;
        box-sizing: border-box;
        align-self: center;
        width: 60%

    }

    #welcome{
    border: 1px solid red;
    box-sizing: border-box;
    padding: 3em
    }

    #main{
        border: 1px solid brown;
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly space-around space-between;
        padding: 1em
    }

    main p{
        border: 1px solid red;
        box-sizing: border-box;
    padding: 3em
    }

    about{
    border: 1px solid brown;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly space-around space-between;
    }
}

